.bb {
    background-color: blueviolet;
    width: 400px;
border: 12px solid red;
border-radius: 5%;
}
.list {
    display: flex;
    justify-content: center;

}


.true {
    display: none;
}


.mobalADD {
    margin-left: 500px;
    background-color: blue;
    width: 300px;
    height: 500px;
}